.sign-in-container {
  width: 380px;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.sign-up-link {
  text-decoration: underline;
}

.sign-up-link-container {
  align-self: flex-start;
}
