.navigation {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .logo-container {
    width: 70px;
    height: 100%;
    padding: 24px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-link {
      cursor: pointer;
      padding: 10px 16px;
    }
  }
}
